.logo {
  background-image: url(../assets/Logo.svg);
}

.github {
  background-image: url(../assets/Github.svg);
}

.wpp {
  background-image: url(../assets/Whatsapp.svg);
}

.linkedin {
  background-image: url(../assets/Linkedin.svg);
}

.eu {
  background-image: url(../assets/eu.png);
}
