.logo {
  background-image: url(../assets/Logo.svg);
}

.github {
  background-image: url(../assets/github.svg);
}

.wpp {
  background-image: url(../assets/whatsapp.svg);
}

.linkedin {
  background-image: url(../assets/linkedin.svg);
}

.eu {
  background-image: url(../assets/eu.png);
}

.email {
  background-image: url(../assets/Email.svg);
}
