.logo {
  background-image: url(../assets/Logo.svg);
}

.github {
  background-image: url(../assets/github.svg);
}

.wpp {
  background-image: url(../assets/whatsapp.svg);
}

.linkedin {
  background-image: url(../assets/linkedin.svg);
}

.eu {
  background-image: url(../assets/eu.png);
}

.email {
  background-image: url(../assets/Email.svg);
}

.codeShieldLogo {
  background-image: url(../assets/codeShieldLogo.png);
}

.logoDiana {
  background-image: url(../assets/logoDiana.svg);
}

.logoCatarina {
  background-image: url(../assets/logoCatarina.png);
}

.logoDanielly {
  background-image: url(../assets/logoDanielly.png);
}

.logoWhitDots {
  background-image: url(../assets/logoWithDots.svg);
}
